
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Merhaba,</h1>
<p>Şu anda etkinliklerimizle ilgili herhangi bir güncel bilgi bulunmamaktadır. Ancak müzik ve kültürle ilgili heyecan verici gelişmeler yaşandığında, sizleri mutlaka bilgilendireceğiz.</p>
<p>Etkinliklerimizin güncel durumunu takip etmek için sitemizi düzenli olarak ziyaret edebilir veya sosyal medya hesaplarımızı takip edebilirsiniz. Sizlerin müzikle dolu anlar yaşamanız bizim için çok önemli ve bu yüzden en kısa sürede yeni etkinliklerimizi duyuracağız.</p>
<p>Şu an için, müzikle kalmaya devam edin ve keyifli zamanlar geçirin. Müzik, ruhumuzu besleyen en güzel melodidir ve biz de sizlere bu keyfi sunabilmek için sabırsızlanıyoruz.</p>
<p>Bizimle kalın ve en güncel duyurularımızı kaçırmamak için sitemizi takip etmeyi unutmayın.</p>
<p>Sevgilerimizle,</p>
<p>Ekibimiz</p>
